@model IEnumerable<BusinessObject.Publisher>

@{
    ViewData["Title"] = "Index";
}

<h1>Publisher</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PublisherId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Publisher_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PublisherId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Publisher_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.PublisherId">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.PublisherId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
